.progress-bar {
  height: 2px;
  width: auto;
  padding: 5px;
  color: #f9f9f9;
  &-very-weak
  {
    background-color: #ff3322;
  }
  &-weak
  {
    background-color: #cc7a00;
  }
  &-ok
  {
    background-color: #00a78e;
  }
  &-strong
  {
    background-color: #8ba753;
  }
  &-very-strong
  {
    background-color: #34bf49;
  }
}
